
<ion-header>
    <ion-navbar>
  
      <ion-buttons end>
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu">
  
          </ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Mais</ion-title>
    </ion-navbar>
  </ion-header>


  <ion-content>
    <ion-item>
      <ion-label color="primary">Add Dynamic</ion-label>
    <ion-input type="text"  text-right [(ngModel)]="lenofarr"></ion-input>
  </ion-item>
  <button ion-button   (click)="Add(lenofarr)">Add</button>
  
    <ion-item *ngFor="let att of anArray; let idx = index">
        <ion-label color="primary">{{att.label}}{{idx+1}}</ion-label>
        <ion-input type="text"  text-right  [(ngModel)]="anArray[idx].value"></ion-input>
    </ion-item>
    <button ion-button full  (click)="goTo()" *ngIf="btn">let's go</button>
  
  <ion-card *ngIf="data">
    <ion-item *ngFor="let att of anArray;">
      <div class="card-title">{{att.value}}</div>
    </ion-item>
  </ion-card>
  </ion-content>
