<ion-header>
  <ion-navbar>

    <ion-buttons end>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu">

        </ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{titulo}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <ion-grid>
          <ion-row no-padding text-center align-items-center>
            <ion-col class="main-col" align-self-center col-2><strong>Nº</strong></ion-col>
            <ion-col class="main-col" align-self-center col-4><strong>Vazão ({{unidade}})</strong></ion-col>
            <ion-col class="main-col" align-self-center col-4><strong>Condição</strong></ion-col>
            <ion-col class="empty-col" col-2></ion-col>
          </ion-row>
          <form [formGroup]="homeForm">
            <ion-row formArrayName="bicos" *ngFor="let item of homeForm.controls.bicos.controls; let i = index" >
              <ion-col align-self-center col-2>{{i+1}}</ion-col>
              <ion-col text-center align-self-center col-4>
                <ion-input formControlName="{{i}}"></ion-input>
              </ion-col>
              <ion-col align-self-center col-4>{{status}}</ion-col>
              <ion-col align-self-center col-2><button
                id= 'button{{y}}' ion-button small icon-only>
                <ion-icon name="brush"></ion-icon></button></ion-col>
            </ion-row>
          </form>
          <!-- <form>
          <ion-row *ngFor="let y of rowCount|times" text-center align-items-center>
              <ion-col align-self-center col-2>{{y}}</ion-col>
              <ion-col text-center align-self-center col-4><ion-input id='input{{y}}' 
                ></ion-input></ion-col>
              <ion-col align-self-center col-4>{{status}}</ion-col>
              <ion-col align-self-center col-2><button
                id= 'button{{y}}' ion-button small icon-only>
                <ion-icon name="brush"></ion-icon></button></ion-col>
          </ion-row>
        </form> -->
  </ion-grid>
</ion-content>
