<ion-header>
  <ion-navbar>

    <ion-buttons end>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu">

        </ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<form (submit) ="addInput(Input.value)">
  <div>
      <tbody>
          <tr *ngFor="let y of rowCount|times">
            <th scope="row">Index {{ y }}:</th>
                <th><input type="any"></th>
          </tr>
        </tbody>
  </div>
</form>
<ul> 
  <li *ngFor="let Input of Inputs">
    {{Input}}
  </li>
</ul>

<table>
    <thead>
      <tr>
        <th *ngFor="let x of colCount|times">{{ x }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let y of rowCount|times">
        <th scope="row">{{ y }}</th>
        <td *ngFor="let x of colCount|times">
            <input type="checkbox" checked>
        </td>
      </tr>
    </tbody>
</table>

<table>
    <tr>
      <th>Month</th>
      <th>Savings</th>
    </tr>
    <tr>
      <td>January</td>
      <td>$100</td>
    </tr>
  </table>

  <head>
      <style>
      thead {color:green;}
      tbody {color:blue;}
      tfoot {color:red;}
      
      table, th, td {
          border: 1px solid black;
      }
      </style>
      </head>
      
      
      
      <table>
        <thead>
          <tr>
            <th>Month</th>
            <th>Savings</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td>Sum</td>
            <td>$180</td>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td>January</td>
            <td>$100</td>
          </tr>
          <tr>
            <td>February</td>
            <td>$80</td>
          </tr>
        </tbody>
      </table>

  

</ion-content>
