page-home {

       .main-col{
           font-size: 15px;
       }

   ion-input{
       text-align: center;
       background: white;
       border: 1px solid #ddd;
       border-radius: 4px;
   }

   .hidden-button{
    height: 100%;
    width: 100%;
    padding: 0px;

}
   .text-input::-moz-placeholder {
    color: #488aff;
    text-align: center;
  }
  
  .text-input:-ms-input-placeholder {
    color: #488aff;
    text-align: center;
  }
  
  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: #488aff;
    text-align: center;
  }

   ion-grid{
       padding:0px;
   }

   ion-row{
    padding: 0px;
    border: 1px solid #ddd;
    background-color: #f0f5ff;
    border-radius: 3px;
    text-align: center;
    align-items: center;
    font-size: 15px;
   }

}
