
    <form>
        <ion-row text-center align-items-center>
            <ion-col align-self-center col-2>{{y}}</ion-col>
            <ion-col text-center align-self-center col-4><ion-input id='input{{y}}' 
              ></ion-input></ion-col>
            <ion-col align-self-center col-4>{{status}}</ion-col>
            <ion-col align-self-center col-2><button
              id= 'button{{y}}' ion-button small icon-only>
              <ion-icon name="brush"></ion-icon></button></ion-col>
        </ion-row>
      </form>





