<!--
  Generated template for the ConfigPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Editar</ion-title>
    <ion-buttons right>
      <button ion-button (click)="cancelConfigModal()">
        Cancelar
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <span ion-fixed class="full-size-content">
    <ion-list inset>
    <form [formGroup]="configFormTitulo">
        <ion-item>
          <ion-label color="dark">Título do Ensaio:</ion-label>
          <ion-input [(ngModel)]="titulo" name="titulo" formControlName="titulo" 
           type="text" placeholder="Ensaio1" clearOnEdit="true"> </ion-input>
        </ion-item>

        <div 
        *ngIf="!configFormTitulo.controls?.titulo.valid  && 
        configFormTitulo.controls?.titulo.touched &&
        !configFormTitulo.controls?.titulo.hasError('file name taken')">
            <p>Por favor, insira um nome válido.</p>
        </div>

        <div *ngIf="configFormTitulo.controls?.titulo.hasError('file name taken') ">
            <p>Arquivo já existe.</p>
        </div>
          
    </form>
    <form [formGroup]="configFormNumeroBicos">
        <ion-item>
          <ion-label color="dark">Número de Bicos:</ion-label>
          <ion-input 
          [(ngModel)]="numeroBicos"
          name="numeroBicos" formControlName="numeroBicos" clearOnEdit="true"
          type="number" placeholder="102"></ion-input>
        </ion-item>

        <div
        *ngIf="!configFormNumeroBicos.controls?.numeroBicos.valid  && 
        configFormNumeroBicos.controls?.numeroBicos.touched">
            <p>Insira apenas valores inteiros entre 1 e 200.</p>
      </div>
    </form>
    <form [formGroup]="configFormReferencia">
        <ion-item>
          <ion-label color="dark">Vazão de Referência:</ion-label>
          <ion-input name = "referencia" formControlName="referencia" clearOnEdit="true"
          [(ngModel)]="referencia" 
          type="number" placeholder="400"></ion-input>
        </ion-item>
        <div 
        *ngIf="!configFormReferencia.controls?.referencia.valid  && 
        configFormReferencia.controls?.referencia.touched">
            <p>Insira apenas valores acima de 0.</p>
        </div>
    </form>
    <form [formGroup]="configFormErroAdm">
        <ion-item>
          <ion-label color="dark">Erro admitido (%):</ion-label>
          <ion-input name="erroAdm" formControlName="erroAdm" clearOnEdit="true"
          [(ngModel)]="erroAdm" 
          type="number" placeholder="10"></ion-input>
        </ion-item>  
        <div 
        *ngIf="!configFormErroAdm.controls?.erroAdm.valid  && 
        configFormErroAdm.controls?.erroAdm.touched">
            <p>Insira apenas valores inteiros entre 0 e 100.</p>
        </div>
    </form>
    <ion-item>
      <ion-label color="dark">Unidade</ion-label>
      <ion-select [(ngModel)]="unidade" interface="popover" (ionChange)="onChangeUnidade(unidade)" >
        <ion-option value="mm" selected>mL/min</ion-option>
        <ion-option value="gal">gal/min</ion-option>
        <ion-option value="oz">oz/min</ion-option>
      </ion-select>
      
    </ion-item>
    <ion-item>
      <ion-label color="dark">Método de Entrada</ion-label>
      <ion-select [(ngModel)]="coleta" interface="popover" (ionChange)="onChangeColeta(coleta)" >
        <ion-option value="bt" selected>Bluetooth</ion-option>
        <ion-option value="manual">Manual</ion-option>
      </ion-select>    
    </ion-item>
</ion-list>
<ion-buttons end>
  <button ion-button type="submit" class="btn btn-primary" 
  [disabled]="!configFormTitulo.controls?.titulo.valid ||
  !configFormNumeroBicos.controls?.numeroBicos.valid ||
  !configFormReferencia.controls?.referencia.valid ||
  !configFormErroAdm.controls?.erroAdm.valid" 
  (click)="saveConfigModal()">
    Salvar
  </button>
</ion-buttons>

</span>
</ion-content>


