page-new {
 
        p {
            font-size: 0.8em;
            color: #ea6153;
        }
 
        // .swiper-slide {
        //     display: block;
        // }
 
        ion-label, .select-text {
            margin-left: 1px;
        }
        
        div{
            padding-top: 0px;
            padding-bottom: 0px;
        }

        form{
            padding-top: 0px;
            padding-bottom: 0px;
        }

        ion-input, ion-select, ion-textarea {
            padding: 5px 1px;
        }


    }
