<ion-header>

  <ion-navbar>
    <ion-title>Novo</ion-title>
    <ion-buttons right>
      <button ion-button (click)="cancelNewModal()" ion-button>
        Cancelar
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <span ion-fixed class="full-size-content">
    <ion-list inset>
    <form [formGroup]="newFormTitulo">
        <ion-item>
          <ion-label color="dark">Título do Ensaio:</ion-label>
          <ion-input [(ngModel)]="titulo" name="titulo" formControlName="titulo" 
           type="text" placeholder="Ensaio1"></ion-input>
        </ion-item>

        <div 
        *ngIf="!newFormTitulo.controls?.titulo.valid  && 
        newFormTitulo.controls?.titulo.touched &&
        !newFormTitulo.controls?.titulo.hasError('file name taken')">
            <p>Por favor, insira um nome válido.</p>
        </div>

        <div *ngIf="newFormTitulo.controls?.titulo.hasError('file name taken') ">
            <p>Arquivo já existe.</p>
        </div>
          
    </form>
    <form [formGroup]="newFormNumeroBicos">
        <ion-item>
          <ion-label color="dark">Número de Bicos:</ion-label>
          <ion-input 
          [(ngModel)]="numeroBicos" 
          name="numeroBicos" formControlName="numeroBicos" 
          type="text" placeholder="102"></ion-input>
        </ion-item>

        <div
        *ngIf="!newFormNumeroBicos.controls?.numeroBicos.valid  && 
        newFormNumeroBicos.controls?.numeroBicos.touched">
            <p>Insira apenas valores inteiros entre 1 e 200.</p>
      </div>
    </form>
    <form [formGroup]="newFormReferencia">
        <ion-item>
          <ion-label color="dark">Vazão de Referência:</ion-label>
          <ion-input name = "referencia" formControlName="referencia" 
          [(ngModel)]="referencia"
          type="text" placeholder="400"></ion-input>
        </ion-item>
        <div 
        *ngIf="!newFormReferencia.controls?.referencia.valid  && 
        newFormReferencia.controls?.referencia.touched">
            <p>Insira apenas valores acima de 0.</p>
        </div>
    </form>
    <form [formGroup]="newFormErroAdm">
        <ion-item>
          <ion-label color="dark">Erro admitido (%):</ion-label>
          <ion-input name="erroAdm" formControlName="erroAdm" 
          [(ngModel)]="erroAdm"
          clearInput type="text" placeholder="10"></ion-input>
        </ion-item>  
        <div 
        *ngIf="!newFormErroAdm.controls?.erroAdm.valid  && 
        newFormErroAdm.controls?.erroAdm.touched">
            <p>Insira apenas valores inteiros entre 0 e 100.</p>
        </div>
    </form>
    <ion-item>
      <ion-label color="dark">Unidade</ion-label>
      <ion-select [(ngModel)]="unidade" interface="popover" (ionChange)="onChangeUnidade(unidade)" >
        <ion-option value="mm" selected>mL/min</ion-option>
        <ion-option value="gal">gal/min</ion-option>
        <ion-option value="oz">oz/min</ion-option>
      </ion-select>
      
    </ion-item>
    <ion-item>
      <ion-label color="dark">Método de Entrada</ion-label>
      <ion-select [(ngModel)]="coleta" interface="popover" (ionChange)="onChangeColeta(coleta)" >
        <ion-option value="bt" selected>Bluetooth</ion-option>
        <ion-option value="manual">Manual</ion-option>
      </ion-select>    
    </ion-item>
</ion-list>
<ion-buttons end>
  <button ion-button type="submit" class="btn btn-primary" 
  [disabled]="!newFormTitulo.controls?.titulo.valid ||
  !newFormNumeroBicos.controls?.numeroBicos.valid ||
  !newFormReferencia.controls?.referencia.valid ||
  !newFormErroAdm.controls?.erroAdm.valid" 
  (click)="saveNewModal()">
    Salvar
  </button>
</ion-buttons>

</span>
</ion-content>